@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

a:link{
	text-decoration: none!important;
}

#TG-banner{
	width: 39em;
	height: 12.53em;
	background-image: url('../img/20150923-Thanksgiving-spread-vicky-wasik-001.jpg');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}

#overlay{
	background-color: rgba(255,255,255,0.9);
	height: 100%;
	width: 47%;
	padding: 1.75em 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#words{
	opacity: 0.9;
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgb(200,200,0)!important;
}

.line{
	display: block;
	opacity: 0.75;
	text-align: center;
}

#ln1{
	font-size: 1.125em;
}

#ln2{
	font-size: 2em;
}

#ln3{
	font-size: 1.5em;
}

#button-wrapper{
	text-align: center;
}
#banner-button{
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
	border-color: rgb(0,0,0);
	font-size: 1.6em;
	margin: 0.5em auto;
	border: solid 2px;
	display: inline-block;
	padding: 0.1em 0.2em;
	cursor: pointer;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease;
}

#banner-button:hover{
	color: rgb(255,0,0);
	border-color: rgb(255,0,0);
}

@media screen and (max-width: 630px){
	#TG-banner{
		width: 100%;
		height: 32vw;
	}
	
	#overlay{
		padding: 4.49vw 0;
	}
	
	#words{
		border-top: 0.159vw solid;
		border-bottom: 0.159vw solid;
	}
	
	#ln1{
		font-size: 2.8846vw;
	}

	#ln2{
		font-size: 5.13vw;
	}

	#ln3{
		font-size: 3.846vw;
	}
	
	#banner-button{
		font-size: 4.1vw;
		margin: 1.282vw auto;
		border: solid 5.128vw;
		padding: 0.2564vw 0.5128vw;
	}
}